* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  background: #111;
  position: relative;
  overflow: hidden;
}
main .list li {
  width: 15vw;
  height: 40vh;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 3;
  padding: 20px;
  transition: 1s cubic-bezier(0.48, -0.33, 0.51, 1.02);
  /*
  &:nth-of-type(3) {
  	left: calc($initPos + $width * 0);
  	transition-delay: 0s;
  }
  &:nth-of-type(4) {
  	left: calc($initPos + $width * 1);
  	transition-delay: 0.1s;
  }
  &:nth-of-type(5) {
  	left: calc($initPos + $width * 2);
  	transition-delay: 0.2s;
  }
  &:nth-of-type(6) {
  	left: calc($initPos + $width * 3);
  	transition-delay: 0.3s;
  }
  &:nth-of-type(7) {
  	left: calc($initPos + $width * 4);
  	transition-delay: 0.4s;
  }
  &:nth-of-type(8) {
  	left: calc($initPos + $width * 5);
  	transition-delay: 0.5s;
  }
     */
}
main .list li .inner {
  width: 100%;
  height: 100%;
  background: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 1s;
}
main .list li .inner h2 {
  font: bold 20px/1;
  color: #888;
  letter-spacing: 1px;
  transition: 0.5s 0.5s;
}
main .list li .inner h2::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #888;
  margin-bottom: 10px;
  transition: 0.5s;
}
main .list li:nth-of-type(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  z-index: 1;
  transform: scale(2);
}
main .list li:nth-of-type(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 2;
  transform: scale(1);
}
main .list li:nth-of-type(2) .inner {
  background: #222;
  box-shadow: none;
  border-radius: 0;
  padding: 5vw;
}
main .list li:nth-of-type(2) .inner h2 {
  font-size: 8vw;
  color: #fff;
}
main .list li:nth-of-type(2) .inner h2::before {
  width: 6vw;
  height: 6px;
  background: #fff;
  margin-bottom: 20px;
}
main .list li:nth-of-type(3) {
  left: calc(40% + 0vw);
  transition-delay: 0s;
}
main .list li:nth-of-type(4) {
  left: calc(40% + 15vw);
  transition-delay: 0.1s;
}
main .list li:nth-of-type(5) {
  left: calc(40% + 30vw);
  transition-delay: 0.2s;
}
main .list li:nth-of-type(6) {
  left: calc(40% + 45vw);
  transition-delay: 0.3s;
}
main .list li:nth-of-type(7) {
  left: calc(40% + 60vw);
  transition-delay: 0.4s;
}
main .list li:nth-of-type(8) {
  left: calc(40% + 75vw);
  transition-delay: 0.5s;
}
main .navi {
  position: absolute;
  top: calc(40% + 40vh + 20px);
  left: 40%;
  z-index: 3;
  padding-left: 20px;
}
main .navi .prev,
main .navi .next {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #bbb;
  margin-right: 20px;
  position: relative;
}
main .navi .prev::before, main .navi .prev::after,
main .navi .next::before,
main .navi .next::after {
  content: "";
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
}
main .navi .prev::before,
main .navi .next::before {
  transform: rotate(45deg) translateX(0);
}
main .navi .prev::after,
main .navi .next::after {
  transform: rotate(-45deg) translateX(0);
}
main .navi .prev span,
main .navi .next span {
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  opacity: 1;
}
main .navi .prev.on,
main .navi .next.on {
  animation: wrap 0.3s 1;
}
main .navi .prev::before, main .navi .prev::after {
  left: 25px;
  transform-origin: left center;
}
main .navi .prev span {
  left: 25px;
}
main .navi .prev.on span {
  animation: prevArrow 0.5s 1;
}
main .navi .next::before, main .navi .next::after {
  right: 25px;
  transform-origin: right center;
}
main .navi .next span {
  right: 25px;
}
main .navi .next.on span {
  animation: nextArrow 0.5s 1;
}

@keyframes wrap {
  0% {
    transform: scale(1);
    border: 1px solid rgb(255, 255, 255);
  }
  70% {
    transform: scale(2);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    border: 1px solid rgb(255, 255, 255);
  }
}
@keyframes prevArrow {
  0% {
    left: 25px;
    width: 20px;
    opacity: 1;
  }
  70% {
    left: -30px;
    width: 50px;
    opacity: 0;
  }
  71% {
    left: 100px;
    width: 120px;
    opacity: 0;
  }
  100% {
    left: 25px;
    width: 20px;
    opacity: 1;
  }
}
@keyframes nextArrow {
  0% {
    right: 25px;
    width: 20px;
    opacity: 1;
  }
  70% {
    right: -30px;
    width: 50px;
    opacity: 0;
  }
  71% {
    right: 100px;
    width: 120px;
    opacity: 0;
  }
  100% {
    right: 25px;
    width: 20px;
    opacity: 1;
  }
}
@media screen and (max-width: 979px) {
  main .list li {
    width: 30vw;
    left: 45%;
  }
  main .list li:nth-of-type(3) {
    left: calc(45% + 0vw);
    transition-delay: 0s;
  }
  main .list li:nth-of-type(4) {
    left: calc(45% + 30vw);
    transition-delay: 0.1s;
  }
  main .list li:nth-of-type(5) {
    left: calc(45% + 60vw);
    transition-delay: 0.2s;
  }
  main .list li:nth-of-type(6) {
    left: calc(45% + 90vw);
    transition-delay: 0.3s;
  }
  main .list li:nth-of-type(7) {
    left: calc(45% + 120vw);
    transition-delay: 0.4s;
  }
  main .list li:nth-of-type(8) {
    left: calc(45% + 150vw);
    transition-delay: 0.5s;
  }
}
@media screen and (max-width: 539px) {
  main .list li {
    width: 50vw;
    height: 160px;
    top: 60%;
    left: 20%;
  }
  main .list li:nth-of-type(3) {
    left: calc(20% + 0vw);
    transition-delay: 0s;
  }
  main .list li:nth-of-type(4) {
    left: calc(20% + 50vw);
    transition-delay: 0.1s;
  }
  main .list li:nth-of-type(5) {
    left: calc(20% + 100vw);
    transition-delay: 0.2s;
  }
  main .list li:nth-of-type(6) {
    left: calc(20% + 150vw);
    transition-delay: 0.3s;
  }
  main .list li:nth-of-type(7) {
    left: calc(20% + 200vw);
    transition-delay: 0.4s;
  }
  main .list li:nth-of-type(8) {
    left: calc(20% + 250vw);
    transition-delay: 0.5s;
  }
}

/*# sourceMappingURL=loopListMotion.css.map */
